/*  your css code here. If applicable */
/*  your css code here. If applicable */
.container {
	height: 100px;
	width: 220px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.green {
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background-color: green;
}
.yellow {
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background-color: yellow;
}
.red {
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background-color: red;
}
